body{
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color : #d64161;
    background-color: #afaffa;
    font-size: 50px;
}


.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #d64161;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}